<!-- app/templates/main/_sidebar.html -->
<div class="sidebar">
    <h2>{{ _("Navigation") }}</h2>
    <a href="{{ url_for('main.menu') }}">{{ _("Home") }}</a>
    <a href="{{ url_for('dataModels.list_models') }}">{{ _("Datenmodelle") }}</a>
    <a href="{{ url_for('auth.logout') }}">{{ _("Logout") }}</a>
    <hr>
    <div class="language-switch">
        <p>{{ _("Sprache wählen:") }}</p>
        <a href="{{ url_for('main.set_language', lang_code='de') }}">Deutsch</a> |
        <a href="{{ url_for('main.set_language', lang_code='en') }}">English</a> |
        <a href="{{ url_for('main.set_language', lang_code='fr') }}">Français</a>
    </div>
</div>
