html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/static/media/background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
  }
  
  .auth-container {
    width: 20rem;           /* 400px */
    background: rgba(255, 255, 255, 0.9);
    padding: 1.88rem;        /* 30px */
    border-radius: 0.63rem;  /* 10px */
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.4);  /* 20px */
    text-align: center;
  }
  
  .auth-form label {
    display: block;
    text-align: left;
    width: calc(100% - 2rem); /* 2rem Abzug, damit 1rem links und 1rem rechts frei bleiben */
    margin: 0 1rem 0.1rem;   /* 1rem links/rechts, 0.94rem unten */
  }
  
  /* Wende box-sizing auf Input-Felder und Button an */
  .auth-form input,
  .auth-form button {
    box-sizing: border-box;
  }
  
  .auth-form input {
    width: calc(100% - 2rem); /* 2rem Abzug, damit 1rem links und 1rem rechts frei bleiben */
    padding: 0.63rem;        /* 10px */
    margin: 0 1rem 0.94rem;   /* 1rem links/rechts, 0.94rem unten */
    border: 0.06rem solid #ccc; /* ca. 1px */
    border-radius: 0.31rem;   /* 5px */
  }
  
  .auth-form button {
    width: calc(100% - 2rem);
    padding: 0.63rem;        /* 10px */
    margin: 0 1rem 0;
    background-color: #007BFF;
    border: none;
    border-radius: 0.31rem;   /* 5px */
    color: #fff;
    font-size: 1rem;         /* 16px */
    cursor: pointer;
  }
  
  .auth-form button:hover {
    background-color: #0056b3;
  }
  
  .logo img {
    max-width: 9.38rem;       /* 150px */
    margin-bottom: 1.25rem;   /* 20px */
  }
  

  .language-selector {
    text-align: center;
    margin-bottom: 1.25rem; /* entspricht ca. 20px */
  }
  